fastapi
uvicorn[standard]
pydantic
python-dotenv
google-generativeai
pandas
requests
geopy
# winsdk removed - requires Visual Studio Build Tools
paho-mqtt
supabase
rapidfuzz
resend
face_recognition
numpy
Pillow
